@model IEnumerable<App.Models.Users.User>
  @{ ViewData["Title"] = "Index";
  <!-- Layout = "_LayoutAuth"; -->
  }

  <h1>Quản lý nhân viên</h1>

  <p>
    <a asp-action="Create">Thêm tài khoản nhân viên</a>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>@Html.DisplayNameFor(model => model.FullName)</th>
        <th>@Html.DisplayNameFor(model => model.Position)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.Phone)</th>
        <th>@Html.DisplayNameFor(model => model.PassWord)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model) {
      <tr>
        <td>@Html.DisplayFor(modelItem => item.FullName)</td>
        <td>@Html.DisplayFor(modelItem => item.Position)</td>
        <td>@Html.DisplayFor(modelItem => item.Email)</td>
        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
        <td>@Html.DisplayFor(modelItem => item.PassWord)</td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
          <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
          <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</App.Models.Users.User>
